body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li { 
    color: white;                      
    display: inline;
    margin-right: 20px;
}